.about-container {
  height: 300px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px double #395446;
  margin: auto;
  height: auto;
  margin-top: 20%;
  flex-direction: column;
  border-radius: 50px;
  padding: 20px;
}