<<<<<<< HEAD
body {
    background-color: white;
}
=======

>>>>>>> 5663f402887be6dd96858094d181ef10edfa8b38

.upload-container {
    height: 300px;
    width: 300px;
    border: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    width: 600px;
    max-width: 100%;
    margin-top: 25%;
    flex-direction: column;
}

.upload-container > *, .upload-form > *, .upload-container, .upload-form, .requirements > * {
    font-family: 'Ovo', serif;
    text-align: left;
}

.upload-header {
    color: #395446;
    font-size: 50px;
    padding: 10px;
}

.product-or-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.product-or-service-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}


.product-or-service-header {
    font-size: 20px;
    margin: 20px;
}