.item-show-root > * {
    color: #395446;
    align-items: left;
    display: flex;
    justify-content: left;
}

.item-show-root {
    justify-content: flex-start;
    position: fixed;
    z-index: 2;
    width: 50vw;
    height: 60vh;
    left: 37vw;
    bottom: 10vh;
    border: 4px solid #395446;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(244, 239, 230, 0.9);
    box-shadow: -10px 0px 10000vw 10000vw  rgba(0, 0, 0, 0.5);
    overflow: scroll;
}

.item-show-modal-img {
    width: 250px;
    height: auto;
    border: 5px solid #395446;
    border-radius: 30px;
    height: auto;
    margin-bottom: 10px;
}

.show-owners-items {
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
}

.owner-lists {
    display: flex;
    flex-direction: row;
}

.user-show-service-list, .user-show-product-list  {
    height: 100%;
    width: auto;
}

.item-show-modal-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.item-show-modal-info > * {
    font-size: 20px;
}

.item-owner-show-modalbutton{
    display: flex;
    height: 25px;
    justify-content: left;
    align-items: center;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
    background-color: #395446;
    color: antiquewhite;
    text-decoration: none;
}

.modalbutton-close {
    display: flex;
    position: fixed;
    height: 25px;
    justify-content: left;
    align-items: center;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
    background-color: #395446;
    color: antiquewhite;
    text-decoration: none;
}