.item-show-root > * {
    color: #395446;
    align-items: left;
    display: flex;
    justify-content: left;
}

.item-show-root {
    position: fixed;
    z-index: 2;
    width: 50vw;
    height: 60vh;
    left: 37vw;
    bottom: 10vh;
    border: 2px solid #395446;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, .95);
    box-shadow: -10px 0px 10000vw 10000vw  rgba(0, 0, 0, 0.5);
}