.login-input {
  border: 1px solid #898989;
  border-radius: 3px;
  font-size: 14px;
  height: 48px;
  margin: 0px 0px 14px 0px;
  text-indent: 8px;
  padding: 0px;
  width: 400px;
  font-family: 'Ovo', serif;
}


.login-submit, .logout-header-button {
  font-family: 'Ovo', serif;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  height: 48px;
  margin: 0px 0px 14px 0px;
  padding: 0;
  width: 100%;
  background-color: #395446;
  color: white;
}

.errors, p {
  font-family: 'Ovo', serif;
  padding: 3px;
  color: red;
}

.change-form > *{
  display: flex;
  justify-content: center;
  color: #395446;
  align-items: center;
  margin-bottom: 14px;
}

.personal-welcome {
  color: whitesmoke;
}