.login-input {
  border: 1px solid #898989;
  border-radius: 3px;
  font-size: 14px;
  height: 48px;
  margin: 0px 0px 14px 0px;
  text-indent: 8px;
  padding: 0px;
  width: 400px;
  font-family: 'Ovo', serif;
}