

.login-input {
  border: 1px solid #898989;
  border-radius: 3px;
  font-size: 14px;
  height: 48px;
  margin: 0px 0px 14px 0px;
  text-indent: 8px;
  padding: 0px;
  width: 400px;
  font-family: 'Ovo', serif;
}


.login-submit {
  font-family: 'Ovo', serif;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  height: 48px;
  margin: 0px 0px 14px 0px;
  padding: 0;
  width: 100%;
  background-color: #395446;
  color: white;
}

.login-submit > * {
  color: whitesmoke;
  font-size: 20px;
}

.change-form > * {
  text-decoration: none;
  color: #395446;
  font-size: 20px;
}

.errors, p {
  font-family: 'Ovo', serif;
  padding: 3px;
  color: red;
}

.login-change-form > *{
  display: flex;
  justify-content: center;
  color: #395446;
  align-items: center;
  margin-bottom: 14px;
  font-size: 20px;
}

.personal-welcome {
  margin: auto;
  color: whitesmoke;
  font-family: 'Ovo', serif;
  text-align: center;
}

.header-group {
  display: flex;
  margin: auto;
}

.logout-header-button {
  font-family: 'Ovo', serif;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  height: 48px;
  padding: 15px;
  width: 100%;
  margin: 10px;
  margin-left: 20px;;
  background-color: whitesmoke;
  color: #395446;
}

.logout-header-button:hover {
  font-size: 120%;
  background-color:#dbba42
}