.index-root {
  padding-bottom: 100px;
}

.filters, .filters div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filters h4 {
  font-size: 22px;
}

.filters p{
  font-family: 'Ovo', serif;
  margin-left: 20px;
  padding: 5px;
  color: #395446;
  font-size: 23px;
  border-radius: 10px;
  border: 2px solid #395446;
  vertical-align: center;
  transition: .1s ease;
  background-color: transparent;
}

.filters p:hover {
  background-color: #395446;
  color: #FFF;
  text-decoration: none;
}

.geo-filter {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.geo-filter p { 
  color: #395446;
  font-size: 18px;
  text-decoration: none;
}

.geo-filter button {
  font-family: 'Ovo', serif;
  margin-left: 20px;
  padding: 5px;
  color: #395446;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #395446;
  vertical-align: center;
  transition: .1s ease;
  background-color: transparent;
  text-decoration: none;
}

.geo-filter button:hover {
  background-color: #395446;
  color: #FFF;
  text-decoration: none;
}

.GM-icon {
  width: 50px;
  height: auto;
}


.map-header {
  font-family: 'Ovo', serif;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  color: #395446;
  font-size: 40px;
  align-items: center;
  padding-top: 100px;
  margin-top: 90px;
  padding: 10px;
}

.index-items {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.map-box {
  padding: 5px;
  border-radius: 10px;
  border: 10px double #395446;
  margin-left: 20px;
}

.map-img {
  width: 4vw;
  height: auto;
  transition: .2s ease;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #395446;
  border-radius: 30px;
}

.map-img:hover {
  width: 5vw;
  height: auto;
  transition: .2s ease;
  text-decoration: none;
}

.items-index {
  width: 25vw;
  height: 70vh;
  border-radius: 10px;
  border: 10px double #395446;
  overflow: auto;
  margin-left: 20px;
  align-self: center;
}

.item {
  text-align: center;
  border-top: 2px double #395446;
  display: flex;
  position: relative;
  overflow: unset;
  flex-direction: column;
  padding: 20px;
  font-size: 25px;
  /* background-color: rgba(245, 245, 245, .95); */
  background-color: rgb(245, 245, 245);
}

.item p {
  color: #395446;
}

.item p:nth-child(1) {
  font-size: 35px;
  text-decoration: underline;
}

/* .modalbutton, .item-ownwer-show-modalbutton { 
  font-family: 'Ovo', serif;
  color: antiquewhite;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  max-width: 100%;
  background-color: #395446;
} */

.sellers-button, .contact-button, .modalbutton, .item-ownwer-show-modalbutton { 
  font-family: 'Ovo', serif;
  color: antiquewhite;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  height: 70px;
  border-radius: 30px;
  text-align: center;
  max-width: 100%;
  background-color: #395446;
}


.sellers-button:hover, .contact-button:hover, .modalbutton:hover { 
  font-size: 110%;
  width: auto;
  border: 4px solid #23342c;
}


.item-show-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-top: 40px;
  width: 100%;
  /* margin-bottom: 20px; */
}

.item-show-modal-product-info {
  font-size: 20px;
}

.seller-contact > * {
  font-family: 'ovo', serif;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  color: #23342c;
  text-decoration: none;
}


.seller-contact {
  margin-top: 15px;
  border: 3px double #395446;
  border-radius: 20px;
  padding: 8px;
  background-color: rgb(210, 208, 208);
}