.index-root {
  padding-bottom: 100px;
}

.filters, .filters div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filters h4 {
  font-size: 22px;
}

.filters p{
  font-family: 'Ovo', serif;
  margin-left: 20px;
  padding: 5px;
  color: #395446;
  font-size: 23px;
  border-radius: 10px;
  border: 2px solid #395446;
  vertical-align: center;
  transition: .1s ease;
  background-color: transparent;
}

.filters p:hover {
  background-color: #395446;
  color: #FFF;
}

.geo-filter {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.geo-filter p { 
  color: #395446;
  font-size: 18px;
}

.geo-filter button {
  font-family: 'Ovo', serif;
  margin-left: 20px;
  padding: 5px;
  color: #395446;
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid #395446;
  vertical-align: center;
  transition: .1s ease;
  background-color: transparent;
}

.geo-filter button:hover {
  background-color: #395446;
  color: #FFF;
}

.GM-icon {
  width: 50px;
  height: auto;
}


.map-header {
  font-family: 'Ovo', serif;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  color: #395446;
  font-size: 40px;
  align-items: center;
  padding-top: 90px;
  margin-top: 80px;
  padding: 10px;
}

.index-items {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.map-box {
  padding: 5px;
  border-radius: 10px;
  border: 10px double #395446;
  margin-left: 20px;
}

.map-img {
  width: 4vw;
  height: auto;
  transition: .2s ease;
  position: absolute;
  transform: translate(-50%, -50%);
}

.map-img:hover {
  width: 5vw;
  height: auto;
  transition: .2s ease;
}

.items-index {
  width: 20vw;
  height: 65vh;
  border-radius: 10px;
  border: 10px double #395446;
  overflow: auto;
  margin-left: 20px;
  align-self: center;
}

.item {
  border-top: 2px double #395446;
  display: flex;
  position: relative;
  overflow: unset;
  flex-direction: column;
  background-color: rgba(245, 245, 245, .95);
}

.item p {
  color: #395446;
}

.item p:nth-child(1) {
  font-size: 24px;
  text-decoration: underline;
}

.modalbutton {
  color:#395446;
  text-align: center;
  text-decoration: none;
  background-color:whitesmoke;
  /* width: 100px; */
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.item-show-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-top: 100px;
}