.index-root {
  padding-bottom: 100px;
}

.GM-icon {
  width: 50px;
  height: auto;
}

.map-header {
  font-family: 'Ovo', serif;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  color: #395446;
  font-size: 40px;
  align-items: center;
  padding-top: 90px;
  margin-top: 90px;
  padding: 10px;
}

.index-items {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.map-box {
  padding: 5px;
  border-radius: 10px;
  border: 10px double #395446;
  margin-left: 20px;
}

.items-index {
  width: 20vw;
  height: 65vh;
  border-radius: 10px;
  border: 10px double #395446;
  overflow: auto;
  margin-left: 20px;
  align-self: center;
}

.item {
  border-top: 2px double #395446;
  display: flex;
  position: relative;
  overflow: unset;
  flex-direction: column;
  background-color: rgba(245, 245, 245, .95);
}

.item p {
  color: #395446;
}

.item p:nth-child(1) {
  font-size: 24px;
  text-decoration: underline;
}