/* body {
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
} */

.nav-box {
  position:fixed;
  top:0;
  width:100%;
}

.nav-container {
  /* background-color: rgb(255, 255, 255); */
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

header {
  /* background-color:white; */
  justify-content: center;
  align-items: center;
  background-color: #395446;
  opacity: 0.8;
}
/* 
header::after {
 content: '';
 display: table;
 clear: both; 
} */
.logo {
  display: inline-block;
  margin: 0 5px;
  flex-direction: row;
  margin:0 -15px;
  padding:0 20px;
  /* font-size: 16px; */
}

nav {
  float: right; 
}

nav ul {
  margin: 0; 
  padding: 0; 
  list-style: none;
}

.home-page-button {
  display: inline-block;
  margin: 0 15px;
  flex-direction: row;
  font-size: 17px;
  border: 1px solid #395446;
}

.links {
  display: inline-block;
  margin: 0 5px;
  flex-direction: row;
}

.logo-picture {
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
  /* padding: 10px; */
}