.nav-box {
  position:fixed;
  top:0;
  width:100%;
}

.nav-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

header {
  justify-content: center;
  align-items: center;
  background-color: #395446;
  opacity: 0.8;
}

.logo {
  display: inline-block;
  margin: 0 5px;
  flex-direction: row;
  margin:0 -15px;
  padding:0 20px;
}

nav {
  float: right; 
}

nav ul {
  margin: 0; 
  padding: 0; 
  list-style: none;
}

.home-page-button {
  display: inline-block;
  margin: 0 15px;
  flex-direction: row;
  font-size: 17px;
  border: 1px solid #395446;
}

.links {
  display: inline-block;
  margin: 0 5px;
  flex-direction: row;
}

.logo-picture {
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

.go-to-the-map {
  opacity: 80%;
  font-family: 'Ovo', serif;
  color:#FFF;
  font-size: 20px;
  width: auto;
  text-align: center;
}

.go-to-the-map:hover {
  background-color: #395446;
  color: #FFF;
}

.home-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  max-width: 100%;
  align-items: flex-start;
  color: #FFF;
}
