body {
  font-family: 'Ovo', serif;
  color:#395446;
  /* background-image: url('./images/gold-hoop.png'); */
  /* background-size: auto; */
}

.login-form, .signup-form {
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  padding: 24px;
  display: flex;  
  box-sizing: border-box;
  max-width: 512px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.header {
  display: flex;
  font-size: 60px;
  color: #7ABB6F;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
}

.home-page-button {
  font-family: 'Ovo', serif;
  color: #395446;
  background-color: white;
  border-radius: 30px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  height: 50px;
  padding: 15px;
  width: 170px;
  text-decoration: none;
  align-items: stretch;
  border: none;
}


.home-page-button > * {
  font-family: 'Ovo', serif;
  color: #395446;
  background-color: white;
  border-radius: 30px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  height: 50px;
  padding: 15px;
  width: 170px;
  text-decoration: none;
  align-items: stretch;
  border: none;
}

.session-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  max-width: 100%;
}

.home-page-button:hover {
  cursor: pointer;
}


:any-link {
  /* color: whitesmoke; */
  /* background-color: #395446; */
  border-radius: 10px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  font-family: 'Ovo', serif;
}

.session-header > * {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
  color: #395446;
  font-size: 75px;
  /* padding: -10px; */
}

.form-text {
  margin: 10px;
  font-family: 'Ovo', serif;
  font-size: 30px;
}

.home-container {
  height: 100vw;
  display: flex;
  justify-content: center;
}

.go-to-the-map {
  font-family: 'Ovo', serif;
  color:#395446;
  font-size: 60px;
  margin-top: 25%;
}