body {
  font-family: 'Ovo', serif;
  color:#395446;
  /* background-image: url('./images/gold-hoop.png'); */
  background-color: white;
  background-size: auto;
}

.login-form, .signup-form {
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  padding: 24px;
  display: flex;  
  box-sizing: border-box;
  max-width: 512px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.header {
  display: flex;
  font-size: 60px;
  color: #7ABB6F;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
}

.home-page-button {
  font-family: 'Ovo', serif;
  color: #395446;
  background-color: white;
  border-radius: 30px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  height: 50px;
  padding: 15px;
  width: 170px;
  text-decoration: none;
  align-items: stretch;
  border: none;
}


.home-page-button > * {
  font-family: 'Ovo', serif;
  color: #395446;
  border-radius: 30px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  text-decoration: none;
  align-items: stretch;
  border: none;
}


.session-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  max-width: 100%;
}

.home-page-button:hover {
  cursor: pointer;
  /* background-color: rgb(182, 240, 202); */
}


:any-link {
  border-radius: 10px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  font-family: 'Ovo', serif;
}

.session-header > * {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
  color: #395446;
  font-size: 75px;
}

.form-text {
  margin: 10px;
  font-family: 'Ovo', serif;
  font-size: 30px;
}

.home-container {
  /* height: 100vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.home-logo {
  width: 300px;
  max-width: 100%;
  /* margin-bottom: 20px; */
}

.home-page-button2, .home-page-button2 > *:visited  {
  font-family: 'Ovo', serif;
  color: white;
  background-color: #395446;
  border-radius: 30px;
  box-shadow: none;
  outline-style: none;
  text-decoration: none;
  height: 50px;
  padding: 15px;
  width: 170px;
  text-decoration: none;
  align-items: stretch;
  border: none;
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.splash-first-container{
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px double #55866c;
    margin: auto;
    width: 600px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(255, 252, 252, 0.65);
}

.splash-first-container p {
  font-family: 'Ovo', serif;
  padding: 3px;
  color: #395446;
}


.splash-first-container2 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px double #55866c;
    margin: auto;
    width: 600px;
    border-radius: 50px;
    padding: 20px;
    opacity: 95%;
    justify-content: space-around;
    background-color: rgba(255, 252, 252, 0.65);
}

h2 {
    font-family: 'Ovo', serif;
    color: #395446;
    font-size: 18px;
}

.environment-container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ovo', serif;
    padding: 3px;
    color: #395446;
    align-items: center;
    width: 300px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    
}

.environment-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ovo', serif;
    padding: 3px;
    color: #395446;
    align-items: center;
    width: 300px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
}

.environment-container3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ovo', serif;
    padding: 3px;
    color: #395446;
    align-items: center;
    width: 300px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
}

.environment-container2-image {
    height: 130px;
    width: 130px;
}