.splash-first-container{
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px double #55866c;
    margin: auto;
    width: 600px;
    /* height: auto; */
    /* max-width: 100%; */
    /* margin-top: 20%; */
    /* flex-direction: column; */
    border-radius: 50px;
    padding: 20px;
    /* background-color: #F7F6F3; */
    background-color: white;
}

.splash-first-container p {
  font-family: 'Ovo', serif;
  padding: 3px;
  color: #395446;
}

.environment-container1 > * {
    height: 130px;
    width: 130px;
}
.environment-container2 > * {
    height: 130px;
    width: 130px;
}
.environment-container3 > * {
    height: 130px;
    width: 130px;
}

.splash-first-container2 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px double #55866c;
    margin: auto;
    width: 600px;
    border-radius: 50px;
    padding: 20px;
    opacity: 95%;
    justify-content: space-around;
    background-color: #fff3d9;
    /* background-color: rgba(255,243,217,0.6); */
    /* background-color: #F7F6F3; */
    background-color: white;
}

h2 {
    font-family: 'Ovo', serif;
    color: #395446;
    font-size: 18px;
}

.environment-container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ovo', serif;
    padding: 3px;
    color: #395446;
}

.environment-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ovo', serif;
    padding: 3px;
    color: #395446;
}

.environment-container3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ovo', serif;
    padding: 3px;
    color: #395446;
}
