.users-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px; 
    text-align: center;
    height: 55vw;
    margin-top: 10%;
    /* border: 10px double #395446; */
    border-radius: 10px;
    /* height: 90vh; */
}

.users-show-header {
    margin-top: 10px;
    color: #395446;
    font-size: 40px;
    font-family: "ovo", serif;
}

.services-and-products {
    display: flex;
    flex-direction: row;
}

.user-services-container, .user-products-container{
    border: 10px double #395446;
    border-radius: 10px;
    margin: 30px;
    width: 300px;
    height: 500px;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: left;
}

.user-products-header, .user-services-header {
    font-family: "Ovo", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
}

.service-index-item > * {
    color: #395446;
    align-items: left;
    display: flex;
    justify-content: left;
}


.service-index-item {
    border: 3px solid #395446;
    border-radius: 10px;
    margin: 15px;
}

.product-map, .service-map {
    height: 400px;
    overflow: scroll;
}

.upload-form-preview {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.profile-show-container > *, .profile-show-container2 > * {
    font-family: "Ovo", serif;
    font-size: 20px;
    color: #395446;
}

.profile-show-container2 input {
    height: 30px;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
}

.profile-edit-button, .update-profile-button {
    font-size: 20px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px;
    background-color: #395446;
    color: antiquewhite;
    font-family: "Ovo", serif;
    width: 200px;
}

.profile-edit-button:hover, .update-profile-button:hover {
    font-size: 130%;
    color: whitesmoke;
    border: 4px solid rgba(6, 57, 5, 0.733);
    padding: 10px;
}

.form-pic > * {
    border: 4px solid rgba(6, 57, 5, 0.733);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}