.users-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px; 
    text-align: center;
    margin-top: 10%;
    /* border: 10px double #395446; */
    border-radius: 10px;
    /* height: 90vh; */
}

.users-show-header {
    margin-top: 10px;
    color: #395446;
    font-size: 40px;
    font-family: "ovo", serif;
}

.services-and-products {
    display: flex;
    flex-direction: row;
}

.user-services-container, .user-products-container{
    border: 10px double #395446;
    border-radius: 10px;
    margin: 30px;
    width: 300px;
    height: 500px;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: left;
}

.user-products-header, .user-services-header {
    font-family: "Ovo", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
}

.service-index-item > * {
    color: #395446;
    align-items: left;
    display: flex;
    justify-content: left;
}


.service-index-item {
    border: 2px solid #395446;
    border-radius: 10px;
    margin: 15px;
    margin-top: 100px;
}

.product-map, .service-map {
    height: 400px;
    overflow: scroll;
}